<!-- Load bootstrap minified version -->
<!DOCTYPE html>
{% load staticfiles %}
<link href="{% static 'admin/css/login.css' %}" rel="stylesheet">
<html>
  <head>
    <title>Library Catalogue</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'css/search_page.css' %}">      
  </head>

  <body>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search_page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/display_paper.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   
  </body>
</html>