{% extends "searchapp/base.html" %}
{% block content %}
<div class="container">
	<div class="top-bar">
		<div class="project-title row">
			<div class="col-md-12">
				<center><h1 class="site-title">Library Catalogue</h1><center>
				<h6 class="site-subtitle">CS6400 Advanced Project</h6>
			</div>
		</div>    
	</div>  
	
	<div id="wrap" style="position:relative;">
		<div id="left" style="margin-right:201px;margin-left: -20px;">
			<object data= {{ paper_path }} type="application/pdf" width="800" height="1000">
				<p>Paper not found. Please check id again!</p>
			</object>
		</div>
		<div id="right" style="position:absolute;margin-right: -100px;width: 400px;right:0;top:0">
			<div>
				<div style="padding-bottom: 20px;">
					<a href="/">Go to Search again</a>
				</div>
				<div style="padding-bottom: 20px;">
					<label>Authors:</label>
					{% if paper_authors.count > 0 %}
						{%for author in paper_authors%}
							
							<li>{{ author }}</li>
						{%endfor%}
					{%else%}
						<li>No Authors found.</li>
					{%endif%}
				</div>
				<span class="clearfix borda"></span>
				<div></div><div></div>
				<div style="padding-bottom: 20px;">
					<label>Reference papers:</label>
					{%if reference_papers.count > 0%}
						{%for paper in reference_papers%}
							<li>{{ paper.description }}</li>
						{%endfor%}
					{%else%}
						<li>No reference found.</li>
					{%endif%}
				</div>
				<div></div><div></div>
				<span class="clearfix borda"></span>
				<div class="col-xs-12 col-sm-12 col-md-36 excerpet" style="margin-left: -15px; padding-bottom: 20px;">
					<label>Recommended papers:</label>
					<ul style="padding-left: 0px;">
					{%if recommended_papers.count > 0 %}
						{% for paper in recommended_papers %}
						{% for ids in paper_id %}
                		{% if forloop.counter == forloop.parentloop.counter %}
							<li style="margin-bottom: 15px;"><a href="/display_paper/{{ ids }}" title="">{{ paper.object.title }}</a><li>
							{% endif %}
            			{% endfor %}
						{%endfor%}
					{%else%}
						<li>No recommendations found.</li>
					{%endif%}
					</ul>
				</div>
				<span class="clearfix borda"></span>
			</div>
		</div>
	</div>
	
    <div>
		
		
		</div>
</div>



{% endblock %}